.button {
    margin: 10px;
}

.button > input {
    height: 40px;
    width: 80px;
}

.centered {
    display: flex;
    justify-content: center;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
